.App {
  background-color: #282c34;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 60px;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-content {
  display: flex;
  align-items: center;
  padding: 10px;
}

.aria-logo {
  width: 4vw;
  height: 4vw;
  border: 5px white solid;
  border-radius: 50%;
  margin: 1em;
  cursor: pointer;
}

@media (max-width: 670px) {
  .aria-logo {
    width: 16vw;
    height: 16vw;
  }
}

.m-left-20 {
  margin-left: 20px;
}

.m-left-4 {
  margin-left: 4px;
}

.m-top-20 {
  margin-top: 20px;
}

.m-bottom-20 {
  margin-bottom: 20px;
}

@media (max-width: 670px) {
  .m-top-mobile {
    margin-top: 10px;
    height: fit-content;
    display: inline-block;
  }
}

.body {
  margin: 20px;
  color: white;
}

button {
  position: relative;
  padding: 0.375rem 0.88rem;
  color: #333;
  background-color: #ddd;
  border-color: #ddd;
  font-weight: 400;
  text-align: left;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  font-size: 0.85rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  cursor: pointer;
}

button:hover {
  color: #fff;
  background-color: #3d83cf;
}

button.active {
  color: #fff;
  background-color: #3d83cf;
}

input {
  align-content: center;
  display: inline-flex;
  flex-wrap: wrap;
  margin-right: 10px;
}

a {
  color: #efa82c;
  cursor: pointer;
  font-size: 10pt;
  text-decoration: none;
}

h2 {
  margin-top: 0px;
}

.dropdown {
  position: absolute;
  top: 35px;
  left: -2px;
  border: 1px solid rgb(197, 197, 197);
  background: #fff;
  padding: 0;
  color: black;
  text-align: left;
  border-radius: 0.25rem;
  max-width: 200px;
  z-index: 1;
}

.dropdown > p {
  margin: 0;
  padding: 0.375rem 0.88rem;
  border-bottom: 1px solid rgb(235, 235, 235);
  min-width: 140px;
  cursor: pointer;
}

.dropdown > p:hover {
  color: #fff;
  background-color: #3d83cf;
}

.dropdown > p:last-child {
  border-bottom: 0 none;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex {
  display: flex;
}

.between {
  justify-content: space-between;
}

.block {
  display: block;
}

.inline {
  display: inline-block;
}

.cocktail-card {
  margin: 20px 20px 20px 100px;
  padding: 15px;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 20px;
  width: 400px;
  background-color: #455672;
  cursor: pointer;
}

@media (max-width: 670px) {
  .cocktail-card {
    margin: 20px 20px 20px 20px;
    width: 300px;
  }
}

.cocktail-image {
  align-items: center;
  margin: 6px;
  width: 240px;
  border-radius: 10px;
  border: 3px solid rgb(235, 235, 235);
}

[id*="details-"] {
  display: none;
}

.no-results-found {
  width: 552px;
}

.and-or-toggle-button {
  padding: 6px;
  margin: 6px 6px 6px 0px;
  font-size: 8pt;
  font-weight: bold;
}

.ingredients {
  background-color: #455672;
  display: inline-block;
  border: 2px white solid;
  padding: 10px;
  width: 340px;
  height: 400px;
  margin: 20px 20px 20px 140px;
}

@media (max-width: 670px) {
  .ingredients {
    display: none;
  }
}

.ingredient-list {
  overflow-y: scroll;
  height: 320px;
}

@media (max-width: 670px) {
  .mobile-hidden {
    display: none;
  }
}

.search {
  font-size: 14pt;
  height: 30px;
  width: 180px;
  border-radius: 5px;
  cursor: pointer;
}

.hidden-toolbar {
  height: 36px;
}

.optional {
  color: rgb(192, 192, 192);
}

.optional-tag {
  border-radius: 4px;
  background-color: rgb(192, 192, 192);
  font-size: 8pt;
  font-weight: bold;
  color: rgb(56, 56, 56);
  padding: 2px 4px;
  margin: 2px 6px 2px 0px;
}

.ingredient-search-input {
  font-size: 12pt;
  width: 260px;
  height: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 4px;
}

.link-button {
  cursor: pointer;
}

.link-button:hover {
  color: #e1a479;
}
